@font-face {
    font-family: 'Saved by Zero';
    src: url('./assets/fonts/saved_by_zero_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------
   Tailwind CSS Setup
---------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------
   Global Styles
---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ----------------------------------------
   Component Styles
---------------------------------------- */
@layer components {
}

/* ----------------------------------------
   Utility Classes
---------------------------------------- */
@layer utilities {
  /* Padding Utilities */
  .padding {
    @apply sm:py-12 py-6;
  }

  /* Text Utilities */
  /* Neon Effects */
  .neon-white {
    color: #ffffff;
    text-shadow: 0 0 4px #ffffff, 0 0 7px #ffffff;
  }
    .neon-red {
    color: #ff0000;
    text-shadow: 0 0 4px #ff0000, 0 0 7px #ff0000;
  }
}

